---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className, ...props } = Astro.props;
---

<div
  class:list={[
    "rounded-2xl bg-green-50 mb-6 dark:bg-green-950/10 p-4 dark:ring-1 dark:ring-green-500/10 not-prose max-w-full",
    className,
  ]}
>
  <div class="flex">
    <div class="flex-shrink-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 text-green-500"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"
        ></path>
      </svg>
    </div>
    <div class="ml-3 flex items-start flex-col">
      <h3 class="text-sm font-medium text-green-800 dark:text-green-500">
        Tip
      </h3>

      <div
        class="text-sm text-green-700 dark:text-green-400 [&_p]:mt-2 [&_a]:font-bold [&_a]:text-green-700 dark:[&_a]:text-green-300"
      >
        <slot />
      </div>
    </div>
  </div>
</div>
