---
interface Props {
  title: string;
  class?: string;
}

const { title, class: className, ...props } = Astro.props;
---

<div
  class:list={[
    "rounded-2xl bg-amber-50 mb-6 dark:bg-amber-950/10 p-4 dark:ring-1 dark:ring-amber-500/10 not-prose max-w-full",
    className,
  ]}
>
  <div class="flex">
    <div class="flex-shrink-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 text-amber-500"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z"
        ></path>
      </svg>
    </div>
    <div class="ml-3 flex items-start flex-col">
      <h3 class="text-sm font-medium text-amber-800 dark:text-amber-500">
        Warning
      </h3>

      <div
        class="text-sm text-amber-700 dark:text-amber-400 [&_p]:mt-2 [&_a]:font-bold [&_a]:text-amber-700 dark:[&_a]:text-amber-300"
      >
        <slot />
      </div>
    </div>
  </div>
</div>
